<div class="panel">
	<div class="panel-body">
		<button type="button" class="btn btn-primary" data-ng-click="enter()">Enter
			JSON</button>
	</div>
	<form role="form" class="form-horizontal panel-body form-validation"
		ng-submit="submit()" gfa-msg="errors">
		<div class="row">
			<div class="col-md-12">
				<div class="row" id="boundary">
					<div class="col-lg-6">
						<h4>Draggable Tree</h4>
						<!-- Nested list template -->
						<script type="text/ng-template" id="items_renderer.html">
<div ui-tree-handle>
	<div ng-hide="item._config._type!='array'&&item._config._type!='object'">
		<a class="btn btn-success btn-xs" nodrag ng-click="toggle(this)">
			<span class="glyphicon"	ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed }"></span>
		</a> 
		<span>{{item.title}}</span>
		<a class="pull-right btn btn-danger btn-xs" nodrag	ng-click="remove(this)" ng-show="item.canBeDeleted">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
		<a class="pull-right btn btn-primary btn-xs" nodrag	ng-click="newSubItem(this)" style="margin-right: 8px;"	ng-show="item.canAdd">
			<span class="glyphicon glyphicon-plus"></span>
		</a>
	</div>
	<span class="form-group" ng-show="item._config._type!='array'&&item._config._type!='object'"
		style='margin: 0;'>
		<label class="col-sm-3 control-label">{{item.title}}</label>
		<span class="col-sm-8">
			<input ng-if="item._config._type=='string'" type="text" ng-model="item.value" class="form-control" nas-error nas-required="item._config._required" ng-change="item._config._change(item)" />
			<input ng-if="item._config._type=='email'" type="email" ng-model="item.value" class="form-control" nas-error nas-required="item._config._required"/>
			<select ng-if="item._config._type=='boolean'" ng-model="item.value" class="form-control" nas-error nas-required="item._config._required" >
				<option></option>
				<option>true</option>
				<option>false</option>
			</select>
			<textarea ng-if="item._config._type=='text'" rows="3" ng-model="item.value" class="form-control" nas-error nas-required="item._config._required"></textarea>
		</span>
		<a class="pull-right btn btn-danger btn-xs" nodrag	ng-click="remove(this)" ng-show="item.canBeDeleted">
			<span class="glyphicon glyphicon-remove"></span>
		</a>
	</span>
</div>
<ol ui-tree-nodes ng-model="item.items"
	ng-class="{ 'hidden': collapsed }">
	<li ng-repeat="item in item.items" ui-tree-node
		ng-class="{ 'selected': selected, 'original': original }"
		ng-include="'items_renderer.html'"></li>
</ol>
              		</script>
						<ui-tree class="form-horizontal" drag-enabled="false"
							empty-placeholder-enabled="false"
							drag-distance="parameters.dragDistance" lock-x="true"
							lock-y="true">
						<ol ui-tree-nodes ng-model="list">
							<li ng-repeat="item in list" ui-tree-node
								ng-include="'items_renderer.html'"></li>
						</ol>
						</ui-tree>
					</div>
					<div class="col-lg-6">
						<h4>Full tree</h4>
						<pre class="code">{{ getConfig() | json }}</pre>
					</div>
				</div>
			</div>

		</div>
	</form>
</div>